body {
    background-color: #f5f5f5 !important;
    font-family: 'PT Serif', serif !important;
}

.app-container {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}

.coin-sign {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #e6b10a;
    border-radius: 50%;
    position: relative;
    top: 4px;
}

*:focus,
*:active {
    box-shadow: none !important;
}

.app-auth-wrapper {
    position: relative;
}

.app-auth-wrapper #login-buttons .login-link-and-dropdown-list {
    position: static;
}

.app-auth-wrapper #login-dropdown-list {
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    margin: 0;
}