<template>
	<div class="app-container text-center">
		<header>
			<h1 class="d-flex align-items-center justify-content-center mb-4">
				Lucky c<span class="coin-sign"></span>in
			</h1>
			<div id="coin" class="coin coin-default---"
			     :class="{'coin-default': this.currentToss == null && !this.hasToss, 'coin-heads': this.currentToss !== null && this.currentToss, 'coin-tails': this.currentToss !== null && !this.currentToss}">
				<div class="coin__front"></div>
				<div class="coin__edge">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="coin__back"></div>
				<div class="coin__shadow"></div>
			</div>
			<div class="mb-3 h5">
				<span v-if="currentToss == null && !waiting">
					<span class="text-success">Heads</span> or <span class="text-danger">Tails</span>?
				</span>
				<span v-else-if="waiting" class="text-success">...</span>
				<span v-else-if="currentToss" class="text-success">Heads</span>
				<span v-else class="text-danger">Tails</span>
			</div>
			<div class="mb-3">
				<button @click="handleToss()" class="btn btn-primary btn-lg">
					Toss up!
				</button>
			</div>
			
			<div v-if="currentUser" class="app-auth-wrapper">
				<div class="mb-2">
					Hi
					<blaze-template template="loginButtons" tag="span"></blaze-template>
				</div>
				<div class="h4">This is history of your tosses:</div>
			</div>
			
			<div v-else class="app-auth-wrapper">
				Do you want to save history of your tosses?
				<blaze-template template="loginButtons" tag="span"></blaze-template>
			</div>
		
		
		</header>
		
		<div v-if="currentUser">
			<ul class="list-group mb-5">
				<Toss
					v-for="toss in tosses"
					v-bind:key="toss._id"
					v-bind:toss="toss"
				/>
			</ul>
			
			<nav v-if="pagesCount > 1"
			     class="d-flex justify-content-center">
				<ul class="pagination">
					<li class="page-item">
						<a @click.prevent="handlePagePrev()" class="page-link" href="#">Prev</a>
					</li>
					<li v-for="p in pages" class="page-item"
					    :class="{'active': p.active}">
						<a class="page-link" href="#" @click.prevent="handlePage(p.badge)">
							{{ p.badge }}
						</a>
					</li>
					<li class="page-item">
						<a @click.prevent="handlePageNext()" class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
		
		</div>
	</div>
</template>

<script>
import {Meteor} from "meteor/meteor";
import Vue from "vue";
import Toss from "./Toss.vue";
import {Tosses} from "../api/tosses.js";

export default {
	components: {
		Toss
	},
	data() {
		return {
			currentToss: null,
			perPage: 20,
			currentPage: 1,
			visiblePagesCountDelta: 2,
			hasToss: false,
			waiting: false
		};
	},
	methods: {
		handleToss() {
			this.currentToss = null;
			this.hasToss = true;
			this.waiting = true;
			Meteor.call('makeToss', null, (err, res) => {
				if (err) {
					console.log(err);
				} else {
					var that = this;
					
					Meteor.setTimeout(function () {
						that.currentToss = res;
						
						Meteor.setTimeout(function () {
							that.waiting = false;
							
							if (Meteor.userId()) {
								Tosses.insert({
									heads: that.currentToss,
									owner: Meteor.userId(),
									createdAt: new Date()
								});
							}
							
						}, 1600);
					}, 100);
				}
			});
		},
		handlePage(page) {
			this.currentPage = page;
		},
		handlePagePrev() {
			let newPageNumber = this.currentPage - 1;
			this.currentPage = newPageNumber > 0 ? newPageNumber : 1;
		},
		handlePageNext() {
			let newPageNumber = this.currentPage + 1;
			this.currentPage = newPageNumber < this.pagesCount ? newPageNumber : this.pagesCount;
		}
	},
	computed: {
		pagesCount() {
			return Math.ceil(this.tossesCount / this.perPage);
		},
		pages() {
			let pages = [];
			
			if (this.pagesCount > 0) {
				let startPage = this.currentPage - this.visiblePagesCountDelta;
				let stopPage = this.currentPage + this.visiblePagesCountDelta;
				
				let delta = 0;
				
				if (startPage <= 0) {
					delta = startPage * -1 + 1;
				}
				
				if (stopPage > this.pagesCount) {
					stopPage = this.pagesCount - delta;
				}
				
				for (i = startPage; i <= stopPage; i++) {
					pages.push({'badge': i + delta, 'active': (i + delta == this.currentPage)});
				}
			}
			
			return pages;
		}
	},
	meteor: {
		$subscribe: {
			tosses: ''
		},
		tosses() {
			var tosses = [];
			
			if (this.tossesCount > 0) {
				tosses = Tosses.find(
					{},
					{
						sort: {createdAt: -1},
						limit: this.perPage,
						skip: (this.currentPage - 1) * this.perPage
					}).fetch();
			}
			
			return tosses;
		},
		tossesCount() {
			return Tosses.find().count();
		},
		currentUser() {
			return Meteor.user();
		}
	}
};
</script>