<template>
	<li class="list-group-item">
		<b :class="{'text-success': toss.heads, 'text-danger': !toss.heads}">
			{{ badge }}
		</b>
		<span class="badge bg-light text-dark">{{ date }}</span>
	</li>
</template>

<script>
export default {
	props: ["toss"],
	computed: {
		date() {
			return moment(this.toss.createdAt).format('HH:mm:ss DD MMM YY');
		},
		badge() {
			return this.toss.heads ? 'Heads' : 'Tails';
		}
	},
	data() {
		return {};
	}
};
</script>